image: cypress/browsers:node-20.14.0-chrome-125.0.6422.141-1-ff-126.0.1-edge-125.0.2535.85-1

pipelines:
  default:
    - step:
        name: Run Cypress Tests
        caches:
          - node
        script:
          - npm ci
          - npx cypress run --browser chrome

definitions:
  schedules:
    - cron: '0 6 * * *'
      enabled: true
      name: Daily Cypress Tests at 11 AM
      pipeline:
        - step:
            name: Scheduled Cypress Tests
            caches:
              - node
            script:
              - npm ci
              - npx cypress run --browser chrome
